
body{
    background-color:rgb(211, 211, 211);
  }
  
  /*  Botones del menu*/
  
  .btn{
      background-color: rgb(15, 141, 163);
      width: 100%;
      height: 50px;
    }
  
  
  /* Cabecera de logo y nombre */
  .parents {
    display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .divh1 { grid-area: 1 / 1 / 2 / 2; }
  .divh2 { 
    grid-area: 1 / 2 / 2 / 7; 
    padding:20px;
    padding-top:50px;
    padding-left:150px;
    -webkit-text-stroke: 2px white;
    font-size: 250%;
    font-family: 'Trebuchet MS';
  }
  
  .top{
      padding: 10px;
      background-color: #16705A;
    }
  
  
  
  /* Menu y Contenido */
  
  .izq{
      float: left;
      width: 20%;
      height: max-content;
      background-color: rgb(39, 145, 109);
    }
    .der{
      float: right;
      width: 80%;
      height: 100%;
      background-color: blueviolet;
    }

      /* TABLA */
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      
      td, th {
        border: 1px solid #29a9c9;
        text-align: left;
        padding: 8px;
      }
      
      tr:nth-child(even) {
        background-color: #32416b;
      }

        /* texto */

    .title{
        font-size: 100px;
        font-family: 'Trebuchet MS';
        color: white;
        -webkit-text-stroke: 1px black;
    }


    /*Cards*/
    .title{
      padding: 10px;
      background-color: #16705A;
      border-radius: 2px;
      text-align: center;
    }
    
    :root {
      --gradient: linear-gradient(to left top, #219630 10%, #0b7923 90%) !important;
    }
    
    
    .card {
      background: rgb(90, 90, 90);
      border: 1px solid #418b16;
      color: rgba(250, 250, 250, 0.8);
      margin-bottom: 2rem;
    }
    .text-white{
      color: aliceblue;
    }

      /* Ficha medica */
      .name{
        padding: 20px;
        background-color: rgb(23, 48, 28);
        width: max-content;
        border-style: solid;
        border-color: #418b16;
      }

      .image{
        padding: 10px;
        background-color: rgb(133, 59, 59);
        border-color: #d1d1d1;
        width: 100%;height: 500px; 
        
      }

      .diagnostico{
        background-color: rgb(255, 252, 247);
      }

       /* Form de registro */
       .forms{
        background-color:rgb(149, 202, 144);
        padding:10px;
        border-width: 4px;
        border-style: solid;
        border-image: linear-gradient(to right, rgb(70, 189, 96), rgb(103, 109, 105)) 1;
      }

      .errorcard{
        padding:5px;
        background-color:rgb(223, 204, 35);
        color:white;
      }